@import'global';
@import'./breakpoints/media';

.cards {
  padding: 13px;
}

.card-content {
  border: 4px solid $bordergray;
  border-radius: 25px;
  margin-bottom: 24px;
}

.card-content__img {
  width: 100%;
  border-radius: 20px;
}

.card-content__title {
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  color: $black;
  margin-left: 11px;
}

.card-content__text {
  font-weight: 400;
  font-size: 13px;
  color: $gray;
  margin-left: 13px;
}

.card-content__button {
  height: 25px;
  border: 2px solid $lightblue;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  color: $lightblue;
  margin-left: 12px;
  margin-bottom: 20px;
}


@include tablet {
  cards {
    width: 90%;
    margin: 0 auto;
  }

  .cards-column {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 70%;
  }

  .card-content {
    width: auto;
    text-align: center;
  }

  .card-content__title {
    font-size: 29px;
  }

  .card-content__text {
    font-size: 16px;
    text-align: initial;
  }

  .card-content__button {
    height: 32px;
    font-size: 16px;
  }
}


@include desktop {
  .cards-column {
    display: flex;
    width: 100%;
    gap: 38px;
  }
  
  .card-content {
    border: 4px solid $bordergray;
    border-radius: 25px;
    margin-bottom: 24px;
  }

  .card-content__title {
    font-size: 25px;
  }

  .card-content__text {
    font-size: 16px;
  }

  .card-content__button {
    height: 30px;
    font-size: 16px;
  }
}