// Variables 

// Colores 
$white: #fff;
$black: #333333;
$lightblue: #3F75D9;
$blue: #0F254E;
$gray: #777777;
$lightgray: #BDBDBD;
$bordergray: #494949;
$backgroundgray: #F2F4F8;
$purple: #8244AB;

//Tipografía
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');