body {
  font-family: 'Poppins', sans-serif;
}

@import'components/fonts';
@import'components/colors';
@import'components/cards';
@import'components/home';
@import'components/header';
@import'components/profile';
@import'components/blog';
@import'components/global';