.fonts {
    color: #333333;
  }
  
  .fonts__h1 {
    font-weight: 600;
    font-size: 30px;
  }
  
  .fonts--flex {
    display: flex;
  }
  
  .fonts__div--margin {
    margin-right: 80px;
    margin-left: 6px;
  }
  
  .fonts__h2 {
    font-weight: 700;
    font-size: 16px;
  }
  
  .fonts-poppins {
    font-weight: 400;
    font-size: 32px;
    margin-top: 20px;
  }
  
  .fonts__p--bold {
    font-weight: 700;
    font-size: 55px;
    margin-top: -13px;
  }
  
  .fonts__span {
    margin-left: 20px;
  }
  
  .span1 {
    margin-top: 28px;
  }
  
  .fonts__p--semibold {
    font-weight: 600;
    font-size: 40px;
    margin-top: -40px;
  }
  
  .span2 {
    margin-top: -14px;
  }
  
  .fonts__p--medium {
    font-weight: 500;
    font-size: 30px;
    margin-top: -20px;
  }
  
  .span3 {
    margin-top: -5px;
  }
  
  .fonts__p--regular {
    font-size: 20px;
    margin-top: -5px;
  }
  
  .span4 {
    margin-top: -1px;
  }