@import'global';
@import'./breakpoints/media';

header{
    display: flex;
    align-items: center;
  }
  
  .profile{
    margin: 0 auto;
    width: auto;
    height: 80vh;
  }
  
  .profile__title{
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    margin-right: 20px;
  }
  
  .profile__container--position{
    width: auto;
    height: 170px;
    background-color: $backgroundgray;
    margin: 5px 7px;
    padding: 2px 8px;
    border-radius: 15px;
  }
  
  .profile__container-a{
    display: flex;
    width: auto;
    align-items: center;
  }
  
  .profile__container-user{
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .profile__name-user{
    font-size: 13px;
    font-weight: 500;
  }
  
  .profile__user-twitter{
    font-size: 11px;
    position: relative;
    bottom: 20px;
  }
  
  .profile-img{
    width: 67px;
  }
  
  .profile__user{
    width: auto;
    padding: 0 20px;
  }
  
  .profile__info-user{
    font-size: 10px;
    width: auto;
    border-bottom: 1px solid $lightgray;
  }
  
  .profile__colorBorder-user{
    border: none;
  }
  
  .profile__subinfo-user{
    font-size: 10px;
    position: sticky;
    left: 50%;
    right: 30%;
  }
  
  .profile__subinfo1-user{
    font-size: 10px;
    position: sticky;
    left: 50%;
    right: 30%;
  }
  
  .profile__subinfo2-user{
    font-size: 10px;
    position: sticky;
    left: 50%;
    right: 30%;
  }
  
  .profile__positionsubtitle-curses{
    text-align: right;
    position: relative;
    top: 16px;
  }
  
  .profile__curses{
    width: auto;
    padding: 0 20px;
  }
  
  .profile__title-curses{
    font-size: 11px;
  }
  
  .profile__cont-curses{
    position: relative;
    top: 18px;
    width: 70%;
  }
  
  .profile__bar-curses{
    background: $lightgray;
    border: 1px solid $lightgray;
    border-radius: 20px;
    width: auto;
    height: 8px;
    position: relative;
    bottom: 5px;
  }
  
  .profile__barA-curses{
    border: 1px solid $gray;
    width: 70%;
    height: 7px;
    border-radius: 20px;
    background: $gray;
  }
  
  .profile__barB-curses{
    width: 40%;
    border: 1px solid $gray;
    height: 7px;
    border-radius: 20px;
    background: $gray;
  }

  .profile__container-btn{
    display: grid;
  }
  
  .profile__btn{
    width: 60%;
    height: 38px;
    margin-left: 10px;
    margin-bottom: 2px;
    border-radius: 15px;
    background: $purple;
    border: none;
    font-size: 20px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .profile-img__btn::before{
    content: url(/images/white-empty-heart.png);
    position: relative;
    width: 20%;
  }
  
  .profile-img__btn2::before{
    content: url(/images/star.png);
    position: relative;
    width: 20%;
  }



@include tablet{
  .profile{
    height: 90vh;
  }

  .profile__title{
    font-size: 34px;
  }

  .profile__container--position{
    height: 220px;
  }

  .profile__info-user{
    font-size: 15px;
  }

  .profile__subinfo-user{
    font-size: 15px;
  }

  .profile__subinfo1-user{
    font-size: 15px;
  }

  .profile__subinfo2-user{
    font-size: 15px;
  }

  .profile__container-a{
    margin-left: 25px;
  }

  .profile__name-user{
    font-size: 16px;
  }

  .profile__user-twitter{
    font-size: 15px;
  }

  .profile__cont-curses{
    top: 15px;
  }

  .profile__title-curses{
    font-size: 16px;
  }

  .profile__bar-curses{
    height: 15px;
  }

  .profile__barA-curses{
    height: 14px;
  }

  .profile__barB-curses{
    height: 14px;
  }

  .profile__container-btn{
    display: flex;
  }

  .profile__btn{
    width: 47%;
  }
}

@include desktop{
  .profile{
    height: 100vh;
  }

  .profile__container--position{
    display: flex;
    height: 250px;
    width: 90%;
    margin-left: 50px;
  }

  .profile__container-a{
    display: grid;
    width: 35%;
    margin-left: 20px;
  }

  .profile__title{
    margin-right: 60px;
    font-size: 34px;
  }

  .profile__user {
    min-width: 700px;
    padding: 0 20px;
    margin-top: 60px;
  }

  .profile__container-user {
    margin-left: 60px;
    margin-top: 10px;
}

  .profile-img{
    width: 135px;
    position: relative;
    top: 12px;
    left: 67px;
  }

  .profile__name-user {
    font-size: 20px;
    font-weight: 500;
  }

  .profile__user-twitter {
    font-size: 17px;
    position: relative;
    bottom: 20px;
    left: 6px;
  }

  .profile__info-user{
    font-size: 20px;
    font-weight: 500;
    width: auto;
  }

  .profile__subinfo-user{
    font-size: 20px;
    left: 65%;
    font-weight: 500;
    width: auto;
  }

  .profile__subinfo1-user{
    font-size: 20px;
    left: 65%;
    font-weight: 500;
    width: auto;
  }

  .profile__subinfo2-user{
    font-size: 20px;
    left: 65%;
    font-weight: 500;
    width: auto;
  }

  .profile__curses {
    width: 70%;
    padding: 0 20px;
  }

  .profile__title-curses {
    font-size: 20px;
  }

  .profile__positionsubtitle-curses {
    text-align: right;
    position: relative;
    top: 6px;
    left: 261px;
  }
  
  .profile__cont-curses {
    margin-top: -38px;
    width: 100%;
  }

  .profile__bar-curses{
    width: 100%;
    height: 22px;
  }

  .profile__barA-curses{
    height: 21px;
  }

  .profile__barB-curses{
    height: 21px;
  }

  .profile__container-btn{
    display: flex;
  }

  .profile__btn{
    width: 47%;
    margin-top: 10px;
  }
}