@import'global';
@import'./breakpoints/media';

.container {
  text-align: center;
}

.container__title {
  font-weight: 600;
  font-size: 48px;
  color: $black;
}

.container__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 37px;
  color: $gray;
  width: 360px;
  margin: 0 auto;
}

@include tablet {
  .container__title {
    font-size: 56px;

  }

  .container__text {
    font-size: 32px;
    line-height: 40px;
  }

}


@include desktop {
  .container__title {
    font-size: 95px;
  }

  .container__text {
    font-size: 32px;
    line-height: 48px;
    width: 784px;
  }
}